/*Globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}
/*header y nav*/
.header,.footer{
    background-image: linear-gradient(to right, rgb(156, 19, 138), rgb(250, 129, 250));
} 
.navbar-brand{
    color: white;
    font-weight: bold;
    font-style: italic;
}  
/*imagen inicio*/
.inicio{
    background-image: url(./assets/persona-estacion.jpg);
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    position: relative;
}
.inicio__titulo{
    font-size: 2.5rem;
    position: absolute;
    font-weight: bold;
    color:white;
    top: 18rem;
    left: 24rem;
}
/*ingreso*/
.fallo__ingreso,.valido__ingreso{
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
    margin-right: 2rem;
    padding-bottom: 1rem;
}

/*formulario*/

.form{
    background-color: rgb(235, 229, 229);
    margin: 1rem auto;
    padding: 1rem;   
}
input,select{
    margin: 0.3rem auto;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border-color: rgb(156, 19, 138);
    width: 9rem;
}
label{
    display: inline-block;
    margin: 0.5rem 0;
}

.btn-comprar,.btn__ingresar,.btn-buscar,.btn-agregar,.btn-quitar,.btn-finalizar{
    margin: 1rem auto; 
    padding: 0.5rem 2rem;
    background-color: rgb(250, 129, 250); 
    color: black; 
    font-weight: bold;
    border-radius: 0.3rem;
    
}
/*reserva*/
.reserva{
    display: block;
}
.reservas{
    display: flex;
}
.card-reserva{
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid rgb(114, 110, 110);
    box-shadow: 1rem 0.5rem 0.2rem -0.2rem rgba(70, 69, 69, 0);
    text-align: center;
}
.compra_span{
    display: block;
    font-size: 2rem;
    font-style: italic;
}
/*servicios*/
h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin: 2rem auto;
    padding: 0.5rem 0.5rem;
}
.card__servicios{
    background-image: linear-gradient(to right, rgb(156, 19, 138), rgb(250, 129, 250));;
    padding: 2rem;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 2rem;
}
.card__flex{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    
}
.card{
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid rgb(114, 110, 110);
    box-shadow: 1rem 0.5rem 0.2rem -0.2rem rgba(70, 69, 69, 0);
    text-align: center;
}
.card-img-top{
    width: 100%;
    height: 10rem;
}
li{
    list-style: none;
}
.card-title{
    font-weight: bold;
}
.card__link{
    font-weight: bold;
    background-color: rgb(232, 162, 247);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    color: #000;
    text-decoration: none;
}
h4{
    font-size: 1.5rem;
    font-weight: bold;
}
h5{
    font-weight: bold;
}
h6,.terminos__texto{
    font-weight: bold;
    margin-left: 2rem;
}
/*pago*/
.pago{
    display: flex;
    justify-content: space-around;
}
.labelPago,.labelCuotas{
    font-weight: bold;
    font-size: larger;
    margin-right: 1rem;
    margin-left: 1rem;
}
#formaPago,#cuotas{
    width: 15rem;
}
#pagoSeleccionado{
    display: block;
    text-align: center;
}
#cuotaSeleccionada{
    display: block;
    text-align: center;
}
.pago{
    display: flex;
    flex-direction: column;
}
.form-pago{
    margin: 1rem auto;
}
.form-cuota{
    margin: 1rem auto;
}
/*contacto*/
.form__grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.form__grid--input{
    display: block;
    width: 75%;
}
textarea{
    display: block;
    margin: 1rem auto;
    border-radius: 0.5rem;
}
.btn-success{
    width: 25%;
    margin: 1rem auto;
}
/*footer*/
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
}
.footer__title{
    color: white;
    font-weight: bold;
    font-style: italic;
}
.footer__text{
    font-weight: bold;
}
.terminos{
    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
}

.resultado__compra{
    display: block;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.saludo{
    margin: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-color: rgb(156, 19, 138);
}

/*mobile last media queries*/
@media(max-width:768px){
    .nav-link{
        text-align: center;
    }
    
    .inicio__titulo{
        font-size: 2rem;
    }
   
    .btn-comprar{
        margin-left: 16rem;
    }
}
@media(max-width:480px){
    .inicio__titulo{
        font-size: 1.5rem;
        left: 10rem;
    }
    .radio{
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
    }
    .radio__button{
       height: 1.5rem;
    }
    
    .btn-comprar{
        margin-left: 7rem;
    }
    .card__flex{
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    .footer{
        flex-direction: column;
    }
}

